<% url = {} unless defined? url %>
<% url = url.merge(action: "create") %>
<%= form_for(topic, url: url) do |f| %>
    <div class="grid-x grid-padding-x">
      <div class="cell large-6">
        <div>
          <%= f.label :title, "标题" %>
          <%= f.text_field :title %>
          <%= f.hidden_field :format, value: :link %>
        </div>
        <div>
          <%= f.label :content, "链接" %>
          <%= f.text_field :content, placeholder: 'https://example.com' %>
        </div>
        <div class="actions">
          <%= f.submit '发布', class: "button primary" %>
        </div>
      </div>
      <div class="cell large-6">
        <label>提示</label>
        有趣的内容会获得好的评价，尽量避免提交重复链接
      </div>
    </div>
<% end %>