<% url = {} unless defined? url %>
<% url = url.merge(action: "create") %>
<%= form_for(topic) do |f| %>
    <div class="grid-x grid-padding-x">
      <div class="field cell large-8">
        <div>
          <%= f.label :title, "标题" %>
          <%= f.text_field :title %>
          <%= f.hidden_field :format, value: :text %>
        </div>
        <div>
          <%= f.label :content, "内容" %>
          <%= f.text_area :content, rows: 10, class: 'editor' %>
        </div>
        <div class="button-group actions">
          <a class="secondary button preview">预览</a>
          <%= f.submit '发布', class: "button primary" %>
        </div>
      </div>
      <div class="cell large-4">
        <label>Markdown 提示</label>
        <%= render 'markdown-tips' %>
      </div>
    </div>
<% end %>
<%= render 'preview' %>