<table class="unstriped">
  <tbody>
  <% base_index = (@topics.current_page - 1) * @topics.limit_value + 1 %>
  <% @topics.each_with_index do |topic, i| %>
      <tr>
        <td class="rank"><%= i + base_index %></td>
        <td class="vote">
          <%= render 'vote', topic: topic %>
        </td>
        <td>
          <div class="topic-title">
            <%= link_to topic.title, topic %>
          </div>
          <div class="topic-subtext"><%= topic.user.username %> <%= time_ago_in_words topic.created_at %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @topics %>

<br>

