<% cache @tag do %>
    <%= render 'tags/introduce' %>
<% end %>
<table class="unstriped topics">
  <tbody>
  <% base_index = (@topics.current_page - 1) * @topics.limit_value + 1 %>
  <% @topics.each_with_index do |topic, i| %>
      <tr>
        <td class="rank"><%= i + base_index %></td>
        <td class="vote">
          <%= render 'vote', topic: topic %>
        </td>
        <td>
          <div class="topic-title">
            <% if topic.text? %>
                <%= link_to topic.title, topic %>
            <% else %>
                <%= link_to topic.title, topic.content %> <span class="link">(<%= topic.link_url.host %>)</span>
            <% end %>
          </div>
          <div class="topic-subtext">
            <%= render_topic_info topic, comments: true %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @topics, params: {id: @tag&.id} %>

<br>

