<table class="unstriped">
  <tbody>
  <% @topics.each do |topic| %>
      <tr>
        <td class="rank">1</td>
        <td class="vote">
          <%= render 'vote', topic: topic %>
        </td>
        <td>
          <div class="topic-title">
            <%= link_to topic.title, topic %>
          </div>
          <div class="topic-subtext"><%= topic.user.username %> <%= time_ago_in_words topic.created_at %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @topics %>

<br>

