<div class="grid-container">
  <div class="callout topic-content">
    <h5><%= @topic.title %></h5>
    <p>
      <%= sanitize MarkdownUtils.render @topic.content %>
    </p>
    <div class="grid-x grid-margin-x">
      <div class="small-1 cell"><%= render 'vote', topic: @topic %></div>
      <div class="auto cell">
        <div class="grid-y">
          <div class="cell">&nbsp;</div>
          <div class="auto cell">
            <%= @topic.user.username %> 发布于 <%= time_ago_in_words @topic.created_at %>前
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
