<!DOCTYPE html>
<html>
<head>
  <title>YibuIo</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render 'layouts/topbar' %>
<div class="row" id="content">
  <%= render 'layouts/notice' %>
  <%= yield %>
</div>

<div class="row column">
  <ul class="pagination" role="navigation" aria-label="Pagination">
    <li class="disabled">Previous</li>
    <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
    <li><a href="#" aria-label="Page 2">2</a></li>
    <li><a href="#" aria-label="Page 3">3</a></li>
    <li><a href="#" aria-label="Page 4">4</a></li>
    <li class="ellipsis"></li>
    <li><a href="#" aria-label="Page 12">12</a></li>
    <li><a href="#" aria-label="Page 13">13</a></li>
    <li><a href="#" aria-label="Next page">Next</a></li>
  </ul>
</div>
</body>
</html>
